<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Field value</th>
      <th>Anonymous</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.field_id %></td>
        <td><%= result.field_value %></td>
        <td><%= result.anonymous_id %></td>
        <td><%= result.activity_id %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
