<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @result.field_id %>
</p>

<p>
  <strong>Field value:</strong>
  <%= @result.field_value %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @result.anonymous_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @result.activity_id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
