
<div class="jumbotron">
    <p><%=@activity.subject%></p>
    <small><%=@activity.content%></small>
</div>



<%= form_tag '/form_handle' , :class => :form_horizontal do %>

<%= hidden_field_tag(:activity_id, @activity.id) %>

<% @activity.fields.each do |field| %>

    <div class="form-group">
        <%=label_tag field.value_name , nil , :class => 'col-sm-2 control-label' %>

        <div class="col-sm-10">

            <%=text_field_tag field.id , nil , :class => 'form-control' %>

        </div>

    </div>

<% end %>


<div class="form-group">
    <div class="col-md-12">
        <%= submit_tag '报名' , :class => 'btn btn-primary' %>
    </div>
</div>

<% end %>
